.ppal {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-body {
    font-size: 1em;
    color: #177c17;
}

.botonera {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cont-login {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}

.cont-reg {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.login {
    color: #ffbb00;
    border: solid 2px #177c17;
    width: 125px;
    padding: 5px;
    border-radius: 30px;
    text-decoration: none !important;
}

.register {
    color: #177c17;
    background-color: #ffffff;
    border: solid 2px #ffbb00;
    width: 125px;
    padding: 5px;
    border-radius: 30px;
    text-decoration: none !important;
}

.register:hover {
    color: #ffffff;
    background-color: #ffbb00;
}

.login:hover {
    color: #ffffff;
    background-color: #177c17;
}

.navbar {
    background-color: #ffbb00;
}

.link{
   color: #177c17;
   font-weight: 500;
}