.ppal {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-body{
    display: flex;
    justify-content: center;
}
.card-text{
    width: 600px;
    color: #177c17;
    padding: 5px;
    text-justify: distribute;
}


.botonera {
    display: flex;
    justify-content: center;
    align-items: center;

}


.cont-login {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}

.cont-reg {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.login {
    color: #ffbb00;
    border: solid 2px #177c17;
    width: 125px;
    padding: 5px;
    border-radius: 30px;
    text-decoration: none !important;
}

.register {
    color: #177c17;
    background-color: #ffffff;
    border: solid 2px #ffbb00;
    width: 125px;
    padding: 5px;
    border-radius: 30px;
    text-decoration: none !important;
}

.register:hover {
    color: #ffffff;
    background-color: #ffbb00;
}

.login:hover {
    color: #ffffff;
    background-color: #177c17;
}

.navbar {
    background-color: #ffbb00;
}

.link{
    border-radius: 15px;
    border-bottom: solid 2px #177c17 ;
    border-left: solid 2px #177c17 ;
}
.link:hover{
    color: #ffbb00 !important;
    background-color: #177c17;
    border-radius: 15px;
    border-bottom: solid 2px #000000 ;
    border-left: solid 2px #000000 ;

}
.coche{
    font-size: 1.3em;
    margin: 2px 5px;
}
.linkcar{
    width: 160px;
    background-color: #177c17;
    margin: 0px 20px;
    padding: 1px;
    border-radius: 15px;
    border-radius: 15px;
    border-bottom: solid 2px #ffffff ;
    border-left: solid 2px #ffffff ;
}
.numProd{
    color: #ff0000;
    background-color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    margin-left: 15px;
    padding: 3px;
    border-radius: 30%;
}