.ppal {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonera {
    display: flex;
    justify-content: center;
    align-items: center;
margin-left:35px !important ;

}
.card-body{
    display: flex;
    justify-content: center;
}
.card-text{
    width: 600px;
    color: #177c17;
    padding: 5px;
    text-justify: distribute;
}
.btn1{
    border: none;
    border-radius: 10px;
    background-color: #177c17;
    color: #ffffff;
    padding: 7px;
    font-size: 0.9em;
}
#user{
    margin:5px;
    font-size: 1.5em;
}

.navbar {
    background-color: #ffbb00;
}

.link{
    border-radius: 15px;
    border-bottom: solid 2px #177c17 ;
    border-left: solid 2px #177c17 ;
}
.link:hover{
    color: #ffbb00 !important;
    background-color: #177c17;
    border-radius: 15px;
    border-bottom: solid 2px #000000 ;
    border-left: solid 2px #000000 ;

}


