body {
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#registro{
    margin-top: 20px;
    background-color: #f7f7f7;
    border-radius: 20px;
}
.label {
    color: #177c03;
    margin-bottom: 5px;
}

.chk {
    display: flex;
    justify-content: end;
}

.link1 {
    margin: auto 5px;
    text-decoration: none !important;
    font-size: 0.95em;
    color: #177c03;
}

.link1:hover {
    color: #ffbb00;
    background-color: #177c03;
    border-radius: 10px;
    padding: 5px;
    font-weight: 650;
}

.botonera {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn-reg {
    width:250px !important;
    font-size: 1em;
    font-weight: 600;
    background-color: #177c03;
    border-radius: 5px;
    border: none;
    color: #ffbb00;
    padding: 9px;
    margin-right: 50px;

}

.btn-reg:hover {
    background-color: #ffbb00;
    color: #177c03;
}

.btn-cancel {
    width: 250px !important;
    font-size: 1em;
    font-weight: 600;
    background-color: #ffbb00;
    border-radius: 5px;
    border: none;
    color: #177c03;
    padding: 9px;
    margin-left: 50px;
    text-align: center;
    text-decoration: none !important;
}

.btn-cancel:hover {
    color: #ffbb00;
    background-color: #177c03;
}