body {
    margin: 0px;
    padding: 0px;
  }

  .cabeza {
    display: flex;
    justify-content: center;
    background-color: #ffae00;
  }

  .inf {
    margin-left: auto;
    padding: 6px 20px;
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    border-bottom: solid 3px #177c03;
    border-left: solid 3px #177c03;
    border-right: solid 3px #177c03;
  }

  .contimg {
    display: flex;
    justify-content: center;

  }

  .images {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    box-shadow: 10px 5px 20px #000;
  }

  .nompro {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.3em;
    color: #177c03;
    text-align: center;
    margin: 30px 0px;
    box-shadow: 0px 2px 20px #000;
  }

  .label {
    color: #177c03;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    padding: 3px;
  }

  .ccont {
    font-weight: 500;
    font-size: 0.8rem;
    color: #000;
    padding: 3px;
  }

/************* botones *************/
  .conirtienda{
    display: flex;
    justify-content: right;
  }

  .btnirtienda {
    background-color: #ffae00;
    font-size: 0.9em;
    color: #000;
    width: 150px;
    border: none;
  }
  
  .btnirtienda:hover {
    background-color: #fff;
    font-size: 1em;
    color: #177c03;
    width: 160px;
    border: none;
  }

  .contAcarro {
    display: flex;
    justify-content: left;
  }

  .btnaddcar {
    background-color: #177c03;
    font-size: 0.9em;
    color: #fff;
    width: 150px;
    border: none;
  }
  .btnaddcar:hover {
    background-color: #fff;
    font-size: 1em;
    color: #177c03;
    width: 160px;
    border: none;
  }

  .contmasProd {
    display: flex;
    justify-content: center;
    color: #000;
  }

  .cantidad {
    width: 50px;
    color: #177c03;
    font-weight: 600;
    text-align: center;
    
  }

  .ms {
    font-weight: 600;
    margin: 8px 15px;
    background-color: #177c03;
    color:#fff;
    border-radius: 50%;
    padding: 3px 6px;
  }

  .mn {
    font-weight: 600;
    margin: 8px 15px;
    background-color: #177c03;
    color:#fff;
    border-radius: 50%;
    padding: 3px 6px;
  }