body {
    margin: 0px;
    padding: 0px;
  }

  .cabeza {
    display: flex;
    justify-content: center;
    background-color: #ffae00;
  }

  .inf {
    margin-left: auto;
    padding: 6px 20px;
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    border-bottom: solid 3px #177c03;
    border-left: solid 3px #177c03;
    border-right: solid 3px #177c03;
  }


  .closes{
    padding: 5px 8px;
    margin-left:130px;
    font-weight: 700;
    background-color: #177c03;
    color:white;
    border-radius: 50%;
    border:#fff solid 1px;
  }
  .contimg {
    display: flex;
    justify-content: center;

  }

  .images {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    box-shadow: 10px 5px 20px #000;
  }

  .nompro {
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
    color: #177c03;
    text-align: center;
    margin: 30px 0px;
    box-shadow: 0px 2px 20px #000;
    border:none
  }

  .entra{
    border:none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85rem;
    color: #000;
    padding: 3px;
  }
  .label {
    color: #177c03;
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
    
    margin: 10px 0px;
  }
  .labelCant {
    margin-top: 7px;
    margin-right:10px ;
    color: #177c03;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
   
  }

/************* botones *************/
  .conirtienda{
    display: flex;
    justify-content: center;
  }

  .btnirtienda {
    background-color: #ffae00;
    font-size: 1.08rem;
    font-weight: 500;
    color: #000;
    width: 170px;
    border: none;
  }
  
  .btnirtienda:hover {
    background-color: #fff;
    font-size: 1rem;
    color: #177c03;
    width: 160px;
    border: solid 1px #177c03;
  }

  .contAcarro {
    display: flex;
    justify-content: center;
  }

  .btnaddcar {
    background-color: #177c03;
    font-size: 1.08rem;
    font-weight: 500;
    color: #fff;
    width: 160px;
    border: none;
  }
  .btnaddcar:hover {
    background-color: #fff;
    font-size: 1em;
    color: #177c03;
    width: 160px;
        border: solid 1px #177c03;

  }
  
  .btnaddcar2 {
    background-color: #177c03;
    font-size: 1.08rem;
    font-weight: 500;
    color: #fff;
    width: 160px;
    border: none;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    
  }
  .btnaddcar2:hover {
    background-color: #fff;
    font-size: 1em;
    color: #177c03;
    width: 160px;
    border: solid 1px #177c03;

  }
  .contmasProd {
    display: flex;
    justify-content: center;
    color: #000;
  }

  .cantidad {
    width: 50px;
    color: #177c03;
    font-weight: 700;
    text-align: center;
    border:solid 2px #177c03 ;
    border-radius: 30%;
  }

  .ms {
    font-weight: 600;
    margin: 8px 15px;
    background-color: #177c03;
    color:#fff;
    border-radius: 50%;
    padding: 3px 6px;
  }

  .mn {
    font-weight: 600;
    margin: 8px 15px;
    background-color: #177c03;
    color:#fff;
    border-radius: 50%;
    padding: 3px 6px;
  }